{% extends "base.html" %}

{% block title %}
Inventory Dashboard
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2 class="fw-bold">
            📦 Inventory Dashboard
        </h2>

    </div>
    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2 class="fw-bold">
            Products
        </h2>
    
        <div>
    
            <a href=""
               class="btn btn-success">
    
                Stock Receipts
    
            </a>
    
            <a href="{% url 'stock_ledger' %}"
               class="btn btn-primary">
    
                Stock Ledger
    
            </a>
    
        </div>
    
    </div>

    <div class="row g-4">

        <div class="col-md-3">

            <div class="card shadow border-0">

                <div class="card-body">

                    <small class="text-muted">

                        Products

                    </small>

                    <h2 class="fw-bold">

                        {{ total_products }}

                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow border-0">

                <div class="card-body">

                    <small class="text-muted">

                        Inventory Value

                    </small>

                    <h2 class="fw-bold text-success">

                        ₦{{ inventory_value }}

                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow border-0">

                <div class="card-body">

                    <small class="text-muted">

                        Low Stock

                    </small>

                    <h2 class="fw-bold text-danger">

                        {{ low_stock.count }}

                    </h2>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}