<div class="sidebar-header">
    🌱 Greenhouse ERP
</div>

<a href="{% url 'dashboard' %}">
    <i class="bi bi-speedometer2"></i>
    Dashboard
</a>
<li>

    <a href="{% url 'greenhouse_list' %}">

        <i class="bi bi-house-door"></i>

        Greenhouses

    </a>

</li>

<a href="{% url 'nursery_batch_list' %}">
    <i class="bi bi-tree"></i>
    Nursery
</a>

<a href="{% url 'production_cycle_list' %}">
    <i class="bi bi-flower1"></i>
    Production
</a>

<li>
    <a href="{% url 'operation_list' %}">
        <i class="bi bi-tools"></i>
        Operations
    </a>
</li>

<a href="#">
    <i class="bi bi-bug"></i>
    Scouting
</a>

<a href="{% url 'harvest_list' %}">
    <i class="bi bi-basket"></i>
    Harvest
</a>

<a href="#">
    <i class="bi bi-box-seam"></i>
    Packing
</a>

<a href="{% url 'inventory_dashboard' %}">
    <i class="bi bi-boxes"></i>
    Inventory
</a>

<a href="{% url 'reports_dashboard' %}">
    <i class="bi bi-bar-chart"></i>
    Reports
</a>
<hr>

<div class="px-3 py-2 text-uppercase text-secondary small fw-bold">
    Artificial Intelligence
</div>

<a href="{% url 'ai:kwasari' %}">
    <i class="bi bi-robot"></i>
    Chat Kwasari
</a>


<a href="/admin/">
    <i class="bi bi-gear"></i>
    Administration
</a>